:root {
  --bg: #ffffff;
  --text: #000000;
  --primary: #007bff;
  --secondary: #000;
  --card-bg: #f2f2f2;
  --border: #282828;
}

/* Base */
* {
  box-sizing: border-box;
  font-family: sans-serif;

}

body {
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
}

.navbar {
  padding: 15px;
  background: var(--primary);
  color: white;
}

.app {
  display: flex;
  min-height: calc(100vh - 60px);
}

/* Sidebar */
.sidebar {
  width: 320px;
  padding: 20px;
  border-right: 1px solid var(--border);
}

.theme-item {
  margin-bottom: 15px;
  background: var(--card-bg);
  border-radius: 8px;
  border: 1px solid var(--border);
  cursor: pointer;
}

.theme-header {
  padding: 12px;
  bakground-color: transparent;
}

.palette {
  background-color: var(--bg);
  padding: 10px;
  display: flex;
  flex-wrap: wrap; 
  gap: 7px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.theme-item.active .palette {
  max-height: 200px;
}

.color-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: bold;
  width: 80px;
  height: 40px;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid var(--border);
  color: var(--text);
}

/* Showcase */
.showcase {
  flex: 1;
  padding: 30px;
}

.card {
  background: var(--card-bg);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.btn {
  background: var(--primary);
  color: white;
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

input, textarea {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  background: var(--secondary);
  border: 1px solid var(--border);
}

/* fooooter */
.footer {
  padding: 30px 0;
  background: var(--card-bg);
}

.footer-inner {
  display: flex;
  justify-content: center;
  color: var(--text);
  font-size: 0.7rem;
}

